<!DOCTYPE html>
<html>
    <head>
        <title>Todo List Application</title>
        <link rel="stylesheet" href="index.css">
    </head>
    
    
    
<!--<span class="pomodoro-estimate large-pomodoro-estimate"><%= @todo.pomodoro_estimate %> Pomodoros</span>-->
    
    <body>
        <div class="main-content">
        <p>Todo #<%= @todo.id %></p>
        <p><%= @todo.description %></p>
        <p><%= @todo.pomodoro_estimate %></p>
        
        <input type="checkbox">
        <a href="/todo/edit/<%=@todo.id %>" class ="button edit-todo-button">Edit</a>
        <a href="#" class="button botton-secondary">Delete</a>
        <a href="/todo/index.html">Go Back</a>
    
        </div>
    </body>
</html>